@import "src/Additional/mixins";

.SideBar {
  margin: 0 22px 0 60px;
  min-width: 192px;
  height: 100vh;
  &__list {
    list-style: none;
    padding-left: 40px;
    margin-bottom: 0;
    &_item {
      @include sideBar_font;
      cursor: pointer;
      margin-bottom: 30px;
      &:hover {
        text-shadow: 2px 2px 4px #424242;
      }
    }
  }
  &__sort {
    @include sideBar_sort_font;
    margin-top: 20px;
    padding: 0 0 0 40px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    &:hover {
      text-shadow: 2px 2px 4px #424242;
    }
    &:focus {
      outline: none;
    }
    &_img {
      transition: transform 0.6s;
      width: 11px;
      height: 8px;
      margin-left: 5px;
    }
    &_wrapper {
      overflow: hidden;
    }
    &_list {
      position: relative;
      text-align: right;
      border: 1px solid #000000;
      box-sizing: border-box;
      padding: 20px 0 5px;
      transition: top 0.6s;
      &-item {
        line-height: 30px;
        margin: 0;
        padding: 15px 10px;
        font-size: 14px;
        color: #000000;
        @include sideBar_sort_font;
        cursor: pointer;
        &-active {
          background-color: #424242;
          color: white;
        }
      }
    }
  }
}
