.SideBar {
  padding-left: 60px;
  width: 192px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  &__list {
    list-style: none;
    padding-left: 40px;
    &_item {
      font-family: Roboto, sans-serif;
      font-style: normal;
      font-weight: 300;
      font-size: 12px;
      line-height: 14px;
      letter-spacing: 0.666667px;
      text-transform: uppercase;
      color: #000000;
      cursor: pointer;
      margin-bottom: 30px;
    }
  }
  &__sort {
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: lighter;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.7px;
    color: #000000;
    margin-top: 50px;
    padding-left: 40px;
    border: none;
    background: none;
    text-align: left;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &_img {
      transition: transform 0.6s;
    }
    &_wrapper {
      overflow: hidden;
    }
    &_list {
      position: relative;
      text-align: right;
      border: 1px solid #000000;
      box-sizing: border-box;
      padding: 20px 15px 5px;
      transition: top 0.6s;
      &-item {
        margin-bottom: 15px;
        text-transform: none;
        font-size: 14px;
        color: #000000;
      }
    }
  }
}
