@import "src/Additional/mixins";
.Cart {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  left: calc(100% - 176px); //125px for header margin & 51px for button width
  &:focus {
    outline: none;
  }

  &__logo {
    width: 23px;
    height: 21px;
  }
  &__quantity {
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    background-color: black;
    color: white;
    @include main_font;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    margin-left: 8px;
  }
  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2B2B2B;
    width: 340px;
    height: 100vh;
    position: relative;
    left: calc(100% - 465px);
    top: calc(50vh - 41px); // 20px for center of header height & 21px for header top-margin
    transition: top 0.6s;
    z-index: 1;
    &_total {
      width: 100%;
      padding: 40px;
      box-sizing: border-box;
      display: flex;
      justify-content: space-between;
      @include cart_total;
    }
    &_goods {
      display: flex;
      flex-direction: column;
    }
    &_buy {
      position: absolute;
      bottom: 0;
      border: 2px solid white;
      box-sizing: border-box;
      @include cart_total;
      text-align: center;
      letter-spacing: 2px;
      color: white;
      text-transform: uppercase;
      padding: 22px 94px;
      margin-bottom: 40px;
      background: #2B2B2B;
      cursor: pointer;
      &:focus {
        outline: none;
      }
      &:active {
        box-shadow: 0 10px 10px #a3a3a3;
      }
    }
  }
}

.cbc {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #424242;
  &__button {
    border: 0;
    background: none;
    margin: 38px 31px 77px 0;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    &_img {
      width: 25px;
      height: 25px;
    }
  }

}
