.Main {
  display: flex;
  padding-bottom: 102px;
  &__catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 125px;
  }
}

@media screen and (max-width: 1079px) {
  .Main__catalog {
    padding-right: 30px;
  }
}
