.Main {
  display: flex;
  padding-bottom: 102px;
  &__catalog {
    display: flex;
    flex-wrap: wrap;
    &_asd {
      width: 250px;
      height: 200px;
      background-color: pink;
      display: inline-block;
    }
  }
}
